{% extends "appserv/base.html" %}
{% block title %}
Ajout d'informations
{% endblock %}
{% block content %}
<div class="login-box">
  <ol>
    <li><a href="/appserv/ajoutappli/">ajouter une application</a></li>
    <li><a href="/appserv/ajoutserveur/">ajouter un serveur</a></li>
    <li><a href="/appserv/ajoututilisateur/">ajouter un utilisateur</a></li>
    <li><a href="/appserv/ajouttype/">ajouter un type</a></li>
    <li><a href="/appserv/ajoutservice/">ajouter un service</a></li>
</ol>

  <ol>
    {% for l in appli%}
      <li> {{l.appli}} <a href="/Titre/update/{{l.id}}">modifier</a> , <a href="/Titre/delete/{{l.id}}/">supprimer</a>,<a href="/Titre/detail/{{l.id}}/"> détails</a></li>
    {% endfor %}
  </ol>


</div>

{% endblock %}