{% extends "appserv/base.html" %}

{% block title %}
Informations
{% endblock %}

{%block content %}
<body>
    <html>


<div class="login-box">
    <ol>
        <li><a href="/appserv/infoappli/">Voir les infos des Applications</a></li>
        <li><a href="/appserv/infoservices/">Voir les infos des Services</a></li>
        <li><a href="/appserv/infoutilisateur">Voir les infos des Utilisateurs</a></li>
        <li><a href="/appserv/infotype/">Voir les infos des Types de serveur</a></li>
        <li><a href="/appserv/infoserveur/">Voir les infos des Serveurs</a></li>
    </ol>
</div>
    </html>
</body>
{% endblock %}